<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
<head>
<title>关于我们 - 新京报网</title>
<!-- Header Start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content="zh-CN" />
<meta name="author" content="www.bjnews.com.cn"/>
<meta name="copyright" content="www.bjnews.com.cn"/>
<meta name="description" content="新京报网以文字、图片、视频等全媒体形式，为用户提供全天候热点新闻，涵盖突发新闻、时事、财经、娱乐、体育，以及评论、杂志和博客等，新京报网本着品质源于责任的的信念,致力于成为用户喜爱的新闻网站。"/>
<meta name="keywords" content="新京报网,新京报,电子报,报纸,传媒,时政,娱乐,财经,民生,国内,国际,视频,杂志,体育,访谈,投票,专题,周刊,手机报,博客"/>
<meta property="og:url" content="http://www.bjnews.com.cn/"/>
<meta property="og:description" content="新京报网以文字、图片、视频等全媒体形式，为用户提供全天候热点新闻，涵盖突发新闻、时事、财经、娱乐、体育，以及评论、杂志和博客等，新京报网本着品质源于责任的的信念,致力于成为用户喜爱的新闻网站。"/>
<meta property="og:site_name" content="新京报网"/>
<link rel="Shortcut icon" href="images/bjnews.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css" href="Css/css.css" />
<script type="text/javascript" src="Scripts/jquery.js"></script>
<script type="text/javascript" src="Scripts/ny.js"></script>
<style>
.main {
    clear:both;
    margin:15px auto 0px;
    width:980px;
    overflow:hidden;
}
#mainl {
    width:680px;
    float:left;
}
#mainr {
    width:300px;
    float:right;
}
#mainct {
    width:580px;
    margin-left:15px;
    display:inline;
    float:left;
}
.main_menu {
    width:70px;
    float:left;
    display:inline;
    z-index:888;
}
.main_point {
    width:350px;
    float:left;
    padding-right:14px;
    border-right:1px solid #E0E0E0;
}
.main_fr {
    width:200px;
    float:left;
    display:inline;
    margin-left:15px;
}
.main_menu .newt {
    clear:both;
    height:30px;
    position:relative;
    width:70px;
    cursor:pointer;
    z-index:999;
}
.main_menu .newt ul {
    position:absolute;
    left:70px;
    top:0px;
    overflow:hidden;
    width:70px;
    display:none;
    z-index:999;
}
.main_menu .newt ul li {
    clear:both;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #fff;
    overflow:hidden;
    background:#C8C8C8 url(Images/wx.png) no-repeat;
}
.main_menu .newt ul li.syb {
    overflow:hidden;
    border-bottom:none;
}
.main_menu .newt ul li.ipad {
    padding-left:32px;
}
.main_menu .newt ul li.ipone {
    padding-left:28px;
}
.main_menu .newt ul li.andr {
    padding-left:25px;
}
.main_menu .newt ul li a {
    color:#fff;
}
.main_menu .uleft {
    clear:both;
    margin-top:9px;
}
.main_menu .uleft li {
    height:27px;
    line-height:27px;
    padding-left:12px;
    color:#365F91;
    border-bottom:1px solid #fff;
    background:#f2f2f2;
    cursor:pointer;
}
.main_menu .uleft li a {
    color:#365f91;
}
.main_menu .uleft li.hover {
    background:#DDE9F8;
}
.main_menu .uleft li.yellow {
    background:#FDE9D9;
}
.main_menu .uleft li.more {
    background:url(Images/more.jpg) no-repeat;
    position:relative;
    z-index:888;
}
.main_menu .uleft li.more ul {
    position:absolute;
    left:70px;
    width:70px;
    top:0px;
    display:none;
    z-index:888;
    zoom:1;
}
.main_menu .uleft li.more ul li {
    color:#fff;
    padding-left:12px;
    height:27px;
    border-bottom:1px solid #fff;
    background:#C8C8C8;
}
.main_menu .uleft li.more ul li a {
    color:#fff;
}
.t_news {
    line-height:14px;
    background:url(Images/flg.jpg) left 2px no-repeat;
    color:#A80000;
    padding-bottom:10px;
    clear:both;
    overflow:hidden;
    padding-left:15px;
}






.partner .tit li a {
    color: #FFFFFF;
    font: 14px/26px '微软雅黑';
}

.partner .tit li {
    color: #FFFFFF;
    display: inline-block;
    float: left;
    font: 14px/26px '微软雅黑';
}
#header{ position:relative;}
.ptext .p3 ul{margin-top:0px;}
#footer{  margin-top: 20px;}

#mainct {
    display: inline;
    float: left;
    margin-left: 15px;
    width: 590px;
}
.bqhz p, .bqsm p, .midxx p {
    font-family: "Arial",Gadget,sans-serif,'宋体';
    font-size: 14px;
    line-height: 28px;
    text-indent: 26px;
}
.midxx {
    height: 640px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
}
</style>

<script type='text/javascript'>
(function() {
var useSSL = 'https:' == document.location.protocol;
var src = (useSSL ? 'https:' : 'http:') +
'//www.googletagservices.com/tag/js/gpt.js';
document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
})();
</script>
<script type='text/javascript'>
googletag.defineSlot('/4853949/Bjnews2012_ChannelPage_ButtonA', [300, 250], 'div-gpt-ad-1326173272570-0').addService(googletag.pubads());
googletag.defineSlot('/4853949/Bjnews2012_ChannelPage_ButtonB', [300, 250], 'div-gpt-ad-1326173272570-1').addService(googletag.pubads());
googletag.defineSlot('/4853949/Bjnews2012_ChannelPage_ButtonC', [300, 250], 'div-gpt-ad-1326173272570-2').addService(googletag.pubads());
googletag.defineSlot('/4853949/Bjnews2012_ChannelPage_FullBanner', [468, 60], 'div-gpt-ad-1326173272570-3').addService(googletag.pubads());
googletag.defineSlot('/4853949/Bjnews_ArticlePage_RichMediaAdvertisement', [1, 1], 'div-gpt-ad-1326173272570-4').addService(googletag.pubads());
googletag.pubads().enableSyncRendering();
googletag.pubads().enableSingleRequest();
googletag.enableServices();
</script>
<!-- Header End -->
</head>
<body>
<!-- Top Start -->
<!--Header start-->
<div id="header">
    <div id="logo">
        <div class="logo">
            <h1><a href="http://www.bjnews.com.cn/" title="新京报网" class="bjnewslogo">新京报网</a></h1>
        </div>
        <div class="search" id="bjnewsbar" role="search">
            <form method="get" name="scform" id="scform" action="http://www.bjnews.com.cn/search.php" target="_blank">
                <div id="searchTxt" class="searchTxt">
                    <div class="searchMenu">
                        <div class="sld" id="sld">精确</div>
                        <div class="searchTab" id="searchTab">
                            <ul>
                                <li class="selected">精确</li>
                                <li>模糊</li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" value="1" id="sct" name="type" />
                    <input id="bjTxt" type="text" value="" name="sk" autocomplete="off" />
                </div>
                <div class="searchBtn">
                    <button id="searchBtn" type="button" value="" ></button>
                </div>
            </form>
        </div>
    </div>
    <div id="nav">
        <div class="nav">
            <ul class="menu">
                <li><a href="http://www.bjnews.com.cn/">首页</a></li>
                <li><a href="http://epaper.bjnews.com.cn/" target="_blank">电子报</a></li>
                <li><a href="http://www.bjnews.com.cn/opinion/" target="_blank">评论</a></li>
                <li><a href="http://www.bjnews.com.cn/inside/" target="_blank">深度</a></li>
                <li><a href="http://finance.bjnews.com.cn/" target="_blank">财经</a></li>
                <li><a href="http://www.bjnews.com.cn/graphic/" target="_blank">图纸</a></li>
                <li><a href="http://www.bjnews.com.cn/focus/" target="_blank">媒目</a></li>
                <li><a href="http://www.bjnews.com.cn/note/" target="_blank">手记</a></li>
                <li><a href="http://www.bjnews.com.cn/video/" target="_blank">动新闻</a></li>
                <li><a href="http://edu.bjnews.com.cn/" target="_blank">教育</a></li>
                <li><a href="http://health.bjnews.com.cn/" target="_blank">健康</a></li>
                <li><a href="http://travel.bjnews.com.cn/" target="_blank">旅游</a></li>
                <li><a href="http://fashion.bjnews.com.cn/" target="_blank">时尚</a></li>
               <!-- <li><a href="http://house.bjnews.com.cn/" target="_blank">房产</a></li>-->
               <!-- <li><a href="http://edu.bjnews.com.cn/" target="_blank">教育</a></li>-->
                <li><a href="http://auto.bjnews.com.cn/" target="_blank">汽车</a></li>
                <li><a href="http://zt.bjnews.com.cn/xjbgy/xgy-12.html" target="_blank">新公益</a></li>
                <li><a href="http://golf.qq.com/" target="_blank">高尔夫</a></li>
                <li><a href="http://bj.jjj.qq.com/" target="_blank">大燕网</a></li>
            </ul>
        </div>
    </div>
    <dl id="kuaixu">
        <dd> <span class="ksig"><a href="http://news.bjnews.com.cn/" target="_blank">快讯：</a></span>
            <div class="klist">
                <ul id="klist">
                    <script type="text/javascript" src="Scripts/realtime_last_v3.js"></script>
                </ul>
            </div>
        </dd>
        <dt><span id="nolog"><a href="http://passport.bjnews.com.cn/reg" target="_blank" class="reg">注册</a> <span class="ln">|</span> <a href="http://passport.bjnews.com.cn/login/" target="_blank" class="login">登录</a></span>
            <span id="logsc"><a href="#" class="reg" id="logout">退出</a> <span class="ln">|</span> <span class="user" id="user"></span></span>
            <a href="http://i.bjnews.com.cn/lxwm.html" target="_blank" class="Cooperation">合作</a> <a href="http://app.bjnews.com.cn/" target="_blank" class="client">客户端</a> </dt>
    </dl>
</div>
<script>
eval(function(p,a,c,k,e,r){e=function(c){return c.toString(36)};if('0'.replace(0,e)==0){while(c--)r[e(c)]=k[c];k=[function(e){return r[e]||e}];e=function(){return'[0-9a-hj-q]'};c=1};while(c--)if(k[c])p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c]);return p}('$(1(){var 3="http://img2.bjnews.com.cn/www/";$("#0 li").each(1(i){$(2).9({"a":"d "+ -(i*b)+"c"});$(2).hover(1(){$(2).9({"a":"-80px "+ -(i*b)+"c","e":"#A80000","f":"#g"})},1(){$(2).9({"a":"d "+ -(i*b)+"c","e":"#C8C8C8","f":"#g"})})});$("#0 4:5").h(1(){$(2).6({"7":3+"j.k"});$("#0").l("8").m()});$("#0 4:5").n(1(){$(2).6({"7":3+"o.p"});$("#0").l("8").q()});$("#0 8").h(1(){$("#0 4:5").6({"7":3+"j.k"});$(2).m()});$("#0 8").n(1(){$("#0 4:5").6({"7":3+"o.p"});$(2).q()})})',[],27,'wux|function|this|cfg_img_url|img|first|attr|src|ul|css|backgroundPosition|31|px|0px|backgroundColor|color|fff|mouseenter||lf2|jpg|find|show|mouseleave|lf1|gif|hide'.split('|'),0,{}))
</script>
<!--Header end-->
<!-- Top End -->
<!--第一栏 start-->
<div class="main"> 
  <!--left start-->
  <div id="mainl"> 
    <!--left 1 start-->
    <div class="main_menu">
      <div class="newt" id="wux"><span><img src="Picture/lf1.gif"/></span>
        <ul>
          <li class="ipone"><a href="http://app.bjnews.com.cn/iphone/">iPhone</a></li>
                    <li class="ipad"><a href="http://app.bjnews.com.cn/ipad/">iPad</a></li>
                    <li class="andr"><a href="http://app.bjnews.com.cn/android/">Android</a></li>
                    <li class="syb"><a href="http://app.bjnews.com.cn/symbian/"><img src="Picture/syb1.png" onmouseout="this.src='images/syb1.png'" onmouseover="this.src='images/syb2.png'"/></a></li>
        </ul>
      </div>
      <ul class="uleft" id="uleft">
        <li class="hover"><a href="#">关于我们</a></li>
        <li><a href="zxdt.html">最新动态</a></li>
        <li><a href="ggfw.html">广告服务</a></li>
        <li><a href="gybq.html">关于版权</a></li>
        <li><a href="gzjh.html">工作机会</a></li>
        <li><a href="fxzd.html">发行站点</a></li>
        <li><a href="yqlj.html">友情链接</a></li>
        <li><a href="lxwm.html">联系我们</a></li>
        <li><a href="sitemap.html">网站地图</a></li>
      </ul>
    </div>
    <!--left 1 end--> 
    <!--left 2 start-->
    <div id="mainct">
      <div class="tou"> <img src="Picture/gywmtop.jpg" /> </div>
      <div class="midxx">
        <p>《新京报》(<a href="www.bjnews.com.cn" target="_blank">www.bjnews.com.cn</a>)于2003的11月11日正式创刊，是由光明日报和南方日报两大报业集团联合主办的综合类大型城市日报，是中国首家获正式批准的跨地区联合办报试点，也是中国首家股份制结构的时政类报纸。2011年9月1日，经新闻出版总署批准，新京报的主管主办单位变更为中共北京市委宣传部。</p>
        <br />
        <p>《新京报》日均出版88版，周五112版，是目前北京地区版数最多、信息量最大的综合性日报。《新京报》自办发行，以征订和零售为主要发行渠道。成立至今，发行量持续增长，目前日均发行77.6万份，是一份密集覆盖北京市场，并得到主流人群喜爱的新型时政类日报。</p>
        <br />
        <p>《新京报》采用四开版式，按报道内容分为4个叠次：A叠为时事评论、北京新闻、中国新闻、国际新闻、体育新闻，B叠为经济(财经)新闻和产业周刊，C叠为娱乐新闻和文化艺术新闻，D叠为消费新闻和生活杂志。</p>
        <br />
        <p>《新京报》以独立的立场和客观的报道为基本准则，追求新闻的真实性和可读性，追求言论的稳健性和建设性。《新京报》拥有330多名有新闻理想和职业精神的记者编辑，创办以来发表了大量有影响力的报道和评论，这些报道和评论为中国各大门户网站、各家广播电视广泛转载。</p>
        <br />
        <p>《新京报》有较高知名度的栏目和周刊有：时事评论、核心报道、目击、赛道周刊、娱乐周刊、书评周刊、汽车周刊、黄金楼市、地球周刊、北京地理、北京爱情等，这些栏目和周刊各自拥有众多忠实读者。</p>
        <br />
        <p>《新京报》版式风格简洁、现代、优雅，追求"厚报时代、轻松阅读"，注重图片与插图的应用，引领国内报媒进入"读图时代"。《新京报》摄影记者曾多人多次获得中国新闻摄影大奖，2006年，新京报记者还获得世界新闻摄影比赛(WORLD PRESS PHOTO,简称"WPP")的三等奖。 </p>
        <br />
        <p>《新京报》在有关政策允许的范围内，设置企业化的经营架构，把广告和发行纳入公司化运作，使其与采编内容截然分离，保持报纸的独立性和公信力。正是基于报纸的影响力和公信力，基于对报业经营市场化的深刻领会和不懈实践，《新京报》的品牌价值和经营业绩不断提升，连续两年被有关权威机构评为"中国最具投资价值的媒体"、"中国最有成长潜力的媒体"、"中国最新锐报纸"、"中国最有影响力的时政类报纸"等。2010年《新京报》广告刊例突破14亿元人民币。</p>
        <br />
        <p><b>《新京报》报头</b></p>
        <p><img src="Picture/xjblogo.jpg" /></p>
        <br />
        <p>《新京报》标准字为天安门城墙色底方正大标宋加粗反白。《新京报》符号总是跟天安门城墙颜色出现在一起，时刻提醒国内外读者《新京报》有浓厚的北京特色和中国特色；方正大标宋，表达与国际接轨和借助科技进步的愿望；加粗反白，突出镂刻效果，强调视觉冲击力，象征《新京报》要成为一块传世招牌。</p>
        <br />
        <p><b>新京报标徽"长城烽火台"</b></p>
        <p><img src="Picture/xjbbh.jpg" /></p>
        <P>圆形，象征地球和眼球，象征观察世界，象征全球视野和国际眼光。</P>
        <br />
        <p>长城，象征中国和北京，象征守土有责的媒体责任意识，象征对国家人民的发展、富足、和平和安宁负责，象征媒体要讲政治意识、大局意识、责任意识；烽火台，最具中国特色的传播方式，中国传统中效率最高的传播方式，象征媒体终极价值和基本要素，象征媒体必须发挥预警和监督作用。</p>
        <br />
        <p>凤凰形火炬，火炬象征光明，寓意光明日报报业集团；凤凰象征南中国的神鸟，寓意南方日报报业集团；火炬所传达的指引、探路、尝试、先锋等内涵，寓意报纸就像不断扩大光明范围的探照灯，成为照亮时间和空间的良心。</p>
        <br />
        <p>The Beijing News(<a href="www.bjnews.com.cn" target="_blank">www.bjnews.com.cn</a>) is a mainstream daily newspaper based in Beijing. It is co-founded by Guangming Daily and Nanfang Daily Group, and it was supervised by the formers.</p>
        <br />
        <p>Approved by General Administration of Press and Publication, the regulatory authority of the Beijing News has been changed since Sep.1st,2011.The newspaper is now supervised by  Propaganda Department of CPC Committee of Beijing City.</p>
        <br />
        <p>With its first issue being published on the 11th of November 2003, The Beijing News is the first Chinese newspaper co-founded by media groups from different regions in China. It is also China's first mainstream newspaper that adapts shareholding system.</p>
        <br />
        <p>The Beijing News's average print edition has 88 pages, and 112 pages on Friday. This makes it the single newspaper that provides readers the most information in Beijing. It is distributed both through subscription and retail outlets. Since it was established more than two years ago, its circulation has been on a steady rise. Now with a daily circulation of 776, 000, The Beijing News enjoys wide popularity among Beijing's mainstream readers.</p>
        <br />
        <p>The Beijing News has a tabloid print format. It can be divided into four sections in terms of content. Section A covers editorial and comments, news in Beijing, domestic news, international news and sports news; Section B covers business and financial news; Section C is about entertainment, arts and culture; Section D covers consumer guides and life style.</p>
        <br />
        <p>The Beijing News sticks to the principle of independent and objective reporting. It aims to provide readers with accurate and readable reports, striving for the moderate and constructive voice in our editorial. There are more than 330 journalists and editors working for the newspaper. They have produced lots of reports and comments, which spread well and enjoy high reputation in the media industry.</p>
        <br />
        <p>The Beijing News has cultivated many loyal readers, especially in the following sections: Comments, In-depth Report, Witness, Sports Weekly, Entertainment Weekly, Book Review Weekly, Auto weekly, Real Estate Weekly, Global Weekly, Beijing Geography, Love Story in Beijing, etc.</p>
        <br />
        <p>The Beijing News pursues an easy-reading style with simple, modern and elegant format in a thick-newspaper era. The newspaper's emphasis on the usage of pictures and illustrations is pioneering in China. The photographers of The Beijing News have won many national news photo prizes. In 2006, the photographer was awarded Bronze medal prize in the World Press Photo (WPP) competition.</p>
        <br />
        <p>Abiding by relevant policies, The Beijing News has set up the company-oriented managing framework. In order to keep the independence and credibility, it separates reporting and editing departments from advertising and publishing. Due to its influence, credibility, deep understanding of the press market and unremitting practice, the brand value and managing achievements of "The Beijing News" are soaring. In three years, The Beijing News has been awarded by the authorities as "the media with the most investment potential"," the media with the most development potential", "the most pioneering media", "the most influential political newspaper" etc. The advertising revenue on publication amounts to 612 million RMB in 2006.</p>
      </div>
    </div>
    <!--left 2 end--> 
  </div>
  <div id="mainr"> <img src="Picture/wzxx1.jpg" /> </div>
  <!--right end--> 
</div>
<!--第一栏 end--> 
<!-- Bottom Start -->
<div id="footer">
    <div class="partner">
        <div class="tit">
            <ul>
                <li class="l1"><a target="_blank" href="http://app.bjnews.com.cn/">· 新京报客户端</a></li>
                <li class="l2"><a target="_blank" href="http://i.bjnews.com.cn/gywm.html">· 新京报传媒</a></li>
                <li class="l3"><a target="_blank" href="http://i.bjnews.com.cn/yqlj.html">· 友情链接</a></li>
                <li class="l4">· 服务</li>
                <li class="l5">· 合作</li>
                <li class="l6">· 联系我们</li>
            </ul>
        </div>
        <div class="ptext">
            <div class="lft p1">
                <ul>
                    <li><a target="_blank" href="https://itunes.apple.com/app/id693986775?mt=8">数字版</a></li>
                    <li><a target="_blank" href="http://app.bjnews.com.cn/#bjnewsiPho">新京报新闻</a></li>
                    <li><a target="_blank" href="http://app.bjnews.com.cn/#bjnewsiPad">新京报新闻HD</a></li>
                    <li><a target="_blank" href="http://app.bjnews.com.cn/#thinker">thinker</a></li>
                    <li><a target="_blank" href="http://app.bjnews.com.cn/#jl">驾临</a></li>
                    <li><a target="_blank" href="http://caipiao.bjnews.com.cn/">新京彩</a></li>
                </ul>
            </div>
            <div class="lft p2">
                <ul>
                    <li><a target="_blank" href="http://epaper.bjnews.com.cn">电子报</a></li>
                    <li><a target="_blank" href="http://www.paizhe.com/">拍者网</a></li>
                    <li><a target="_blank" href="http://famous.bjnews.com.cn/">杂志《名汇FAMOUS》</a></li>
                    <li><a target="_blank" href="http://realestate.bjnews.com.cn">杂志《房地产世界》</a></li>
                    <li><a target="_blank" href="http://weibo.com/xjb">新京报官方微博</a></li>
                    <li><a target="_blank" href="http://www.bjnews.com.cn/wx/">新京报官方微信</a></li>
                </ul>
            </div>
            <div class="lft p3">
                <ul>
                    <li><a target="_blank" rel="nofollow" href="http://www.sina.com/">新浪网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.qq.com/">腾讯网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.163.com/">网易</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.sohu.com/">搜狐</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.ifeng.com/">凤凰网</a></li>
                </ul>
                
                <ul>
                    <li><a target="_blank" rel="nofollow" href="http://www.xinhuanet.com/">新华网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.people.com.cn/">人民网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.chinanews.com/">中新网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.gmw.cn/">光明网</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.takungpao.com/">大公网</a></li>
                </ul>
                <ul>
                    <li><a target="_blank" rel="nofollow" href="http://www.hexun.com/">和讯网</a></li>                
                    <li><a target="_blank" rel="nofollow" href="http://www.jrj.com.cn/">金融界</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.amazon.cn/">亚马逊中国</a></li>
                    <li><a target="_blank" rel="nofollow" href="http://www.eastmoney.com/">东方财富网</a></li>
                </ul>
            </div>
            <div class="lft p4">
                <ul>
                    <li><a href="http://www.bjnews.com.cn/baoliao/">在线报料</a></li>
                    <li><a href="http://www.bjnews.com.cn/tougao/">在线投稿</a></li>
                    <li><a href="http://www.bjnews.com.cn/takepaper/">在线订报</a></li>
                    <li><a href="http://i.bjnews.com.cn/sitemap.html">网站地图</a></li>
                </ul>
            </div>
            
            <div class="lft p5">
                <ul>
                    <li><a href="http://i.bjnews.com.cn/zxdt.html">最新动态</a></li>
                    <li><a href="http://i.bjnews.com.cn/ggfw.html">广告服务</a></li>
                    <li><a href="http://i.bjnews.com.cn/fxzd.html">发行站点</a></li>
                    <li><a href="http://i.bjnews.com.cn/gybq.html">关于版权</a></li>
                    <li><a href="http://i.bjnews.com.cn/gywm.html">关于我们</a></li>
                    <li><a href="http://i.bjnews.com.cn/gzjh.html">工作机会</a></li>
                </ul>
            </div>
            
            <div class="lft p6">
                <ul>
                    <li>24小时新闻热线</li>
                    <li><strong>010-67106710</strong></li>
                    <li>商务合作</li>
                    <li><strong>010-67106394</strong></li>
                    <li>版权合作电话</li>
                    <li><strong>010-67106089</strong></li>
                </ul>
            </div>
        </div>
    </div>
<div id='dbnews'><div class='dbnews'>经营许可证编号：京ICP证090533号&nbsp;&nbsp;
国新办网备字[2006]7号&nbsp;&nbsp;
广播电视节目制作经营许可证:(京)字第02592号&nbsp;&nbsp;京公网安备110402440031号<br />Copy Right &copy;    2004-2013 www.bjnews.com.cn All Rights Reserved&nbsp;&nbsp;&nbsp;
新京报社版权所有 未经许可不得转载 版权法律顾问律师 刘家辉 电话：62112060

<script charset="utf-8" language="javascript" src="Scripts/cnzz.js"></script></div></div>
<script src="Scripts/player.js"></script>
<script type="text/javascript" src="Scripts/shar.js"></script>
<script type="text/javascript" src="Scripts/all.js"></script>
</div>
<!-- Bottom End -->
</body>
</html>