<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>国际_新京报网</title>
<meta name="description" content="新京报网以文字、图片、视频等全媒体形式，为用户提供全天候热点新闻，涵盖突发新闻、时事、财经、娱乐、体育，以及评论、杂志和博客等，新京报网本着品质源于责任的的信念,致力于成为用户喜爱的新闻网站。" />
<meta name="keywords" content="国际" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-language" content="zh-CN" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta name="apple-itunes-app" content="app-id=385679094" />
<meta name="author" content="www.bjnews.com.cn" />
<meta name="copyright" content="www.bjnews.com.cn" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable"/>
<meta content="black" name="apple-mobile-web-app-status-bar-style"/>
<meta content="telephone=no" name="format-detection"/>
<meta content="email=no" name="format-detection"/>
<link rel="Shortcut icon" type="image/x-icon" href="http://www.bjnews.com.cn/favicon.ico" />
<link rel="stylesheet" type="text/css" href="Css/css.css" />
<link rel="stylesheet" type="text/css" href="Css/m.css" id="flex">
<link rel="stylesheet" type="text/css" href="Css/list.css" id="flexlist">
<script type="text/javascript" src="Scripts/jquery.js"></script>
<script type="text/javascript" src="Scripts/adservice.js"></script>
<script type='text/javascript'>
var googletag=googletag||{};googletag.cmd=googletag.cmd||[];(function(){var gads=document.createElement('script');gads.async=true;gads.type='text/javascript';var useSSL='https:'==document.location.protocol;gads.src=(useSSL?'https:':'http:')+'//www.googletagservices.com/tag/js/gpt.js';var node=document.getElementsByTagName('script')[0];node.parentNode.insertBefore(gads,node)})();googletag.cmd.push(function(){googletag.defineSlot('/4853949/Bjnews2014_channelPage_BannerA',[240,160],'div-gpt-ad-1399197260115-0').addService(googletag.pubads());googletag.pubads().enableSingleRequest();googletag.enableServices()});
</script>
</head>
<body>
<div id="header">
    <div id="logo">
        <div class="logo">
            <dd><a href="http://www.bjnews.com.cn/" class="lstlog">新京报</a></dd><dt><h3>国际</h3><span>world</span></dt>
        </div>
        <div class="search" id="bjnewsbar" role="search">
            <form method="get" name="scform" id="scform" action="http://www.bjnews.com.cn/search.php" target="_blank">
                <div id="searchTxt" class="searchTxt">
                    <div class="searchMenu">
                        <div class="sld" id="sld">精确</div>
                        <div class="searchTab" id="searchTab">
                            <ul>
                                <li class="selected">精确</li>
                                <li>模糊</li>
                            </ul>
                        </div>
                    </div>
                    <input type="hidden" value="1" id="sct" name="type"/>
                    <input id="bjTxt" type="text" value="" name="sk" autocomplete="off">
                </div>
                <div class="searchBtn">
                    <button id="searchBtn" type="button"></button>
                </div>
            </form>
        </div>
    </div>
    <div id="nav">
        <div class="nav">
            <ul class="menu">
              <!--  <li><a href="http://epaper.bjnews.com.cn/" target="_blank">电子报</a></li>-->
               <li><a href="http://www.bjnews.com.cn/">首页</a></li>
               <li><a href="http://www.bjnews.com.cn/realtime-page-1.html" target="_blank">快讯</a></li>
               <li><a href="http://www.bjnews.com.cn/news/list-43-page-1.html" target="_blank">国内</a></li>
               <li><a href="http://www.bjnews.com.cn/world/" target="_blank">国际</a></li>
               <li><a href="http://www.bjnews.com.cn/finance/" target="_blank">财经</a></li>
               <li><a href="http://www.bjnews.com.cn/culture/" target="_blank">文化</a></li>
               <li> <a href="http://www.bjnews.com.cn/ent/" target="_blank">娱乐</a></li>
               <li><a href="http://www.bjnews.com.cn/sport/" target="_blank">体育</a></li>
               <li><a href="http://www.bjnews.com.cn/opinion/" target="_blank">评论</a></li>
               <li><a href="http://www.bjnews.com.cn/inside/" target="_blank">深度</a></li>
               <li><a href="http://www.xjbmaker.com/" target="_blank">创客</a></li>
              <!--  <li><a href="http://finance.bjnews.com.cn/" target="_blank">财经</a></li>-->
               <li><a href="http://www.bjnews.com.cn/graphic/" target="_blank">图纸</a></li>
               <li><a href="http://www.bjnews.com.cn/video/" target="_blank">动新闻</a></li>
               <li><a href="http://travel.bjnews.com.cn/" target="_blank">旅游</a></li>
               <li><a href="http://famous.bjnews.com.cn/" target="_blank">名汇</a></li>
                <li><a href="http://www.bjnews.com.cn/food/" target="_blank">新食品</a></li>
                <li><a href="http://golf.qq.com/" target="_blank">高尔夫</a></li>
                <li><a href="http://bj.jjj.qq.com/" target="_blank" style="background:none">大燕网</a></li>
               <!-- <li><a href="http://www.bjnews.com.cn/focus/" target="_blank">媒目</a></li>
                <li><a href="http://house.bjnews.com.cn/" target="_blank">房产</a></li>
                <li><a href="http://home.bjnews.com.cn/" target="_blank">家居</a></li>
                <li><a href="http://caipiao.bjnews.com.cn/" target="_blank">彩票</a></li>-->
            </ul>
        </div>
    </div>
    <dl id="kuaixu">
        <dd> <span class="ksig"><a href="http://news.bjnews.com.cn/" target="_blank">快讯：</a></span>
            <div class="klist">
                <ul id="klist">
                    <script type="text/javascript" src="Scripts/realtime_last_v3.js"></script>
                </ul>
            </div>
        </dd>
        <dt><span id="nolog"><a href="#" target="_blank" class="reg">注册</a> <span class="ln">|</span> <a href="#" target="_blank" class="login">登录</a></span>
            <span id="logsc"><a href="#" class="reg" id="logout">退出</a> <span class="ln">|</span> <span class="user" id="user"></span></span>
            <a href="http://i.bjnews.com.cn/lxwm.html" target="_blank" class="Cooperation">合作</a> <a href="http://app.bjnews.com.cn/" target="_blank" class="client">客户端</a> </dt>
    </dl>
</div>

<div id="main">
    <div class="lleft">
        <!--新闻列表 start-->
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/30/401927.html" target="_blank">“戒油瘾”赢未来 “土豪”沙特谋转型</a></dd>
                <dt>2016-04-30 02:30:32</dt>
            </dl>
            <p class="txt">迪拜棕榈岛俯瞰图。该岛系迪拜前卫建筑风格的代表之一。4月25日，沙特副王储穆罕默德在公布&ldquo;2030愿景&rdquo;的新闻发布会上回答记者提问。欲2030年摆脱对石油依赖；受油价狂跌影响，...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/29/401848.html" target="_blank">泰国四月“变态”热 日均最高温40℃以上</a></dd>
                <dt>2016-04-29 02:31:27</dt>
            </dl>
            <p class="txt">26日，泰国曼谷律实动物园，工作人员给大象喷水降温。热浪已经持续创纪录的65天；本月已经有约135名儿童溺水身亡泰国4月历来热，今年4月特别热。曼谷动物园开始给动物们喂特制...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/29/401847.html" target="_blank">绝望反击？克鲁兹提前宣布竞选搭档</a></dd>
                <dt>2016-04-29 02:31:27</dt>
            </dl>
            <p class="txt">当地时间4月27日，克鲁兹在印第安纳波利斯参加竞选活动时宣布菲奥里纳为其竞选搭档。特朗普横扫东北部5州的预选后，克鲁兹宣布惠普公司前首席执行官菲奥里纳为副总统竞选人美国共和党总统竞选人特朗普26日横扫...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/28/401705.html" target="_blank">党费拖欠近万欧元 默克尔被“点名”补交</a></dd>
                <dt>2016-04-28 02:31:12</dt>
            </dl>
            <p class="txt">4月24日，德国总理默克尔在汉诺威工业展览会开幕式上发表演讲。作为一名党员，交党费是天经地义的事。但是最近，有一个人因为欠交9500欧元（约合人民币6.9万元）的党费，成功引起了各...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/27/401525.html" target="_blank">500亿澳元！日本落选澳潜艇订单</a></dd>
                <dt>2016-04-27 02:31:45</dt>
            </dl>
            <p class="txt">苍龙级潜艇214型潜艇潜艇&ldquo;短鳍梭子鱼&rdquo;想象图法国海军造船局赢得合同，将为澳大利亚建造12艘改装型常规动力潜艇&ldquo;短鳍梭子鱼&rdquo;澳大利亚总理特恩布尔26日在南澳大利亚州首府阿德莱德宣布...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/26/401356.html" target="_blank">12岁！最年轻巴勒斯坦女囚获释</a></dd>
                <dt>2016-04-26 02:31:08</dt>
            </dl>
            <p class="txt">当地时间24日，约旦河西岸城市图尔坎热，刚获释的迪马&middot;沃维与父母在一起。涉嫌在犹太人定居点企图刺杀袭击以色列人被捕；以色列目前扣留450名巴勒斯坦未成年人以色列24日释放一名被关押的12岁巴勒斯坦女孩，...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/26/401355.html" target="_blank">美国4天9起枪击案 至少14人死亡</a></dd>
                <dt>2016-04-26 02:31:07</dt>
            </dl>
            <p class="txt">2015年美国共发生枪击事件5万多起，造成逾1.3万人死亡、逾2.6万人受伤24日是星期天。凌晨2点多，美国佛罗里达州圣奥古斯丁一家刚打烊的酒吧外响起枪声，2人中弹倒地，枪手在逃。时钟倒拨几个...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/25/401214.html" target="_blank">波音787引擎“不耐冻” 美国下发“修复令”</a></dd>
                <dt>2016-04-25 02:31:11</dt>
            </dl>
            <p class="txt">低温下引擎的风扇叶片可能结冰，导致引擎在飞行中损坏或失灵；影响29家航空公司176架波音787客机美国媒体23日报道，有“梦想客机”之称的波音787客机部分引擎存在“不耐冻”问题。在低温条件下，这些引擎的风扇叶片...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/25/401213.html" target="_blank">土耳其向欧盟放狠话：不免签拒收难民</a></dd>
                <dt>2016-04-25 02:31:10</dt>
            </dl>
            <p class="txt">23日，德国总理默克尔访问土耳其的一个难民营。欧盟认为土耳其须达到72条免签要求，目前仅&ldquo;达标&rdquo;一半；土方要求最晚6月实行免签德国总理默克尔和多名欧盟领导人...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/24/401129.html" target="_blank">“加湿器杀人事件”刷爆韩国朋友圈</a></dd>
                <dt>2016-04-24 02:30:15</dt>
            </dl>
            <p class="txt">5年前加湿器杀菌剂致死239人，包括众多孕产妇和婴幼儿；涉事企业最近道歉并提出赔偿计划最近，韩国人被一则五年前发生的公共安全事件刷爆朋友圈——“加湿器杀菌剂致死事件”。据韩联社报道，截至目前，...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/24/401128.html" target="_blank">法国兴起“黑夜站立” 聚焦社会问题</a></dd>
                <dt>2016-04-24 02:30:14</dt>
            </dl>
            <p class="txt">4月22日，法国巴黎共和国广场，民众持续&ldquo;黑夜站立&rdquo;运动，探讨各种社会问题。图/CFP每天参与者有2000到3000人，希望通过这场运动再造法国；总统奥朗德表示支持，称体现法国价值观4月22日，法国巴黎共...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/23/401089.html" target="_blank">迪拜现“土豪”乞丐 月入47万多人民币</a></dd>
                <dt>2016-04-23 02:30:46</dt>
            </dl>
            <p class="txt">阿联酋媒体《海湾新闻》有关“土豪”乞丐的新闻报道截图。当地官员称“职业乞丐”平均每天收入1.5万人民币；迪拜警方严打“职业乞丐”，三个月逮捕59人最近，阿联酋主流媒体《海湾新闻》的一则报道...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/23/401088.html" target="_blank">日本国产隐形战机“心神”首次试飞</a></dd>
                <dt>2016-04-23 02:30:45</dt>
            </dl>
            <p class="txt">当地时间22日8时50分左右，X-2“心神”从日本中部爱知县名古屋机场起飞。自夸灵活性超美国F-35战斗机，试飞时间从去年9月起一再推迟；目前仅中美俄能自主制造隐形战斗机日本首架自主研制的“心神...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/22/401009.html" target="_blank">英国女王90大寿：晒全家福与民同庆</a></dd>
                <dt>2016-04-22 02:31:37</dt>
            </dl>
            <p class="txt">英国女王与一众孙辈的大合照。英国《每日邮报》如此评价：&ldquo;这不仅是一国君主的肖像照，也是一个母亲、祖母和曾祖母的肖像照。&rdquo;英国女王与女儿安妮公主。母女二人...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/21/400859.html" target="_blank">世界观丨元勋渐老：古巴如何将旗帜交给年轻一代？</a></dd>
                <dt>2016-04-21 02:31:15</dt>
            </dl>
            <p class="txt">当地时间19日，古巴哈瓦那，在古共七大闭幕式上，古巴领导人劳尔&middot;卡斯特罗（中）举起了前领导人菲德尔&middot;卡斯特罗（左）的手。卡斯特罗称终将离去，理想不变；55名古共中央委员会新成员年龄均60岁以下当...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/21/400858.html" target="_blank">纽约前华裔警察梁彼得被判缓刑5年</a></dd>
                <dt>2016-04-21 02:31:12</dt>
            </dl>
            <p class="txt">当地时间4月19日，美国纽约布鲁克林高等法院，前华裔警察梁彼得在法庭上陈述。当天，他被判处5年缓刑，外加800小时社区服务。图/IC无需入狱服刑，外加800小时社区服务；控辩双方均表示会提起上诉当...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/20/400741.html" target="_blank">美将向伊拉克增兵打击“伊斯兰国”</a></dd>
                <dt>2016-04-20 03:31:09</dt>
            </dl>
            <p class="txt">美国波音公司生产的阿帕奇武装直升机，是全球综合能力最强的武装直升机之一。图/IC增派200多名军事人员，部署8架“阿帕奇”武装直升机；近一年来首次向伊拉克增兵据新华社...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/20/400740.html" target="_blank">新西兰总理：中国公民今后可在线申请新西兰签证</a></dd>
                <dt>2016-04-20 03:31:08</dt>
            </dl>
            <p class="txt">4月19日，新西兰总理约翰&middot;基接受新京报记者采访。新京报记者侯少卿摄新西兰总理约翰&middot;基表示，申请签证过程全中文；新西兰移民部称今年年底前可用&ldquo;银联...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/19/400622.html" target="_blank">巴西众议院赞成弹劾总统罗塞夫</a></dd>
                <dt>2016-04-19 03:31:25</dt>
            </dl>
            <p class="txt">当地时间17日，巴西首都巴西利亚，众议院通过针对总统罗塞夫的弹劾案。图为议员投票表决时进行庆祝。新华社发若参议院受理弹劾案，罗塞夫将被停职，副总统代行总统职权；分析称罗塞夫翻盘机会不...</p>
        </div>
        <div class="news">
            <dl>
                <dd><a href="http://www.bjnews.com.cn/world/2016/04/18/400461.html" target="_blank">沙特警告抛售数千亿美元资产</a></dd>
                <dt>2016-04-18 02:31:28</dt>
            </dl>
            <p class="txt">美国议员提出议案拟剥夺涉恐袭案外国政府的主权豁免权，被指为“9·11”恐袭受害人及其亲属起诉沙特政府开绿灯美国媒体16日披露，沙特阿拉伯外交大臣不久前警告美国政府，如果美国国会...</p>
        </div>
    <!--新闻列表end-->
    <div id="page"><span class="now">1</span><a href="/world/?page=2" target="_self">2</a><a href="/world/?page=3" target="_self">3</a><a href="/world/?page=4" target="_self">4</a><a href="/world/?page=5" target="_self">5</a><a href="/world/?page=6" target="_self">6</a><a href="/world/?page=7" target="_self">7</a><a href="/world/?page=8" target="_self">8</a><a href="/world/?page=9" target="_self">9</a><a href="/world/?page=2" class="next" target="_self">下一页</a></div>    </div>
    <div class="nright">
       	        <div class="rad">
        	<!-- Bjnews2014_channelPage_BannerA -->
        <!-- 
        <div id='div-gpt-ad-1399197260115-0' style='width:240px; height:160px;'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399197260115-0'); });
        </script>
        </div>
         -->
         <!-- AdService_Position_10 begin -->
		<div id="adpos_10" style="width:240px;height:160px;"></div>
		<script type="text/javascript">adshow(10)</script>
		<!-- AdService_Position_10 end -->
        </div>
        <div class="rtit top">
            <div class="topday" id="topday">
                <ul>
                    <li class="now">一天</li>
                    <li>一周</li>
                    <li>一月</li>
                </ul>
            </div>
        </div>
        <div id="tdnews">
            <!--新闻排行榜 start-->
                <div class="tdnews">
      <ul>
        
<li><span>1</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401886.html" target="_blank">李克强为什么改变行程随机考察一家农信社？</a></h3></li>
<li><span>2</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401873.html" target="_blank">百度演讲被打断 回应“竞价排名”</a></h3></li>
<li><span>3</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/30/401892.html" target="_blank">贵州兴义一农用车侧翻致13死12伤 事发时正准备开扶贫搬迁会</a></h3></li>
<li><span class="b">4</span><h3><a href="http://www.bjnews.com.cn/video/2016/04/29/401878.html" target="_blank">陈忠实走了 关于白鹿原也许这些你还不知道</a></h3></li>
<li><span class="b">5</span><h3><a href="http://www.bjnews.com.cn/video/2016/04/30/401893.html" target="_blank">3D：成都女留学生赤裸遗体现澳洲海岸 系被谋杀</a></h3></li>
<li><span class="b">6</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/30/401925.html" target="_blank">农用车侧翻 所载石块压死13人</a></h3></li>
<li><span class="b">7</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/30/401924.html" target="_blank">中国留澳女生遇害 曾遭暴力伤害</a></h3></li>
<li><span class="b">8</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401890.html" target="_blank">七常委追过哪些影视剧？</a></h3></li>
<li><span class="b">9</span><h3><a href="http://www.bjnews.com.cn/culture/2016/04/30/401931.html" target="_blank">《白鹿原》作者陈忠实因病去世</a></h3></li>
<li><span class="b">10</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401891.html" target="_blank">在中纪委工作32年，这位“派遣兵”不简单</a></h3></li>

      </ul>
    </div>
    <div class="tdnews" style="display:none;">
      <ul>
      
<li><span>1</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401886.html" target="_blank">李克强为什么改变行程随机考察一家农信社？</a></h3></li>
<li><span>2</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/24/401148.html" target="_blank">江苏邳州一男子捅杀6名小孩 致2死4伤</a></h3></li>
<li><span>3</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/26/401282.html" target="_blank">“常外”事件通报：发现监管等问题 已对责任人立案调查</a></h3></li>
<li><span class="b">4</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/26/401372.html" target="_blank">劝车主挪车起争执 顺义一小区保安遭围殴</a></h3></li>
<li><span class="b">5</span><h3><a href="http://www.bjnews.com.cn/feature/2016/04/27/401479.html" target="_blank">豪车女司机口角后约多人殴打保安</a></h3></li>
<li><span class="b">6</span><h3><a href="http://www.bjnews.com.cn/inside/2016/04/28/401704.html" target="_blank">深度丨湖南双峰：一个“诈骗之乡”的艰难蜕变</a></h3></li>
<li><span class="b">7</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/24/401119.html" target="_blank">24个省份一季度GDP增速超全国</a></h3></li>
<li><span class="b">8</span><h3><a href="http://www.bjnews.com.cn/inside/2016/04/26/401350.html" target="_blank">手游《思聪的日子》激怒王思聪 以名誉受损索赔65万</a></h3></li>
<li><span class="b">9</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/25/401233.html" target="_blank">京剧表演艺术家、梅兰芳之子梅葆玖病逝享年82岁</a></h3></li>
<li><span class="b">10</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/27/401590.html" target="_blank">女子医院停车场遭台湾籍陌生男电击殴打 警方：“假警察”被抓获</a></h3></li>

      </ul>
    </div>
    <div class="tdnews" style="display:none;">
      <ul>
      
<li><span>1</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/19/400660.html" target="_blank">总理在清华北大的20句话，你知道吗？</a></h3></li>
<li><span>2</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/29/401886.html" target="_blank">李克强为什么改变行程随机考察一家农信社？</a></h3></li>
<li><span>3</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/02/399003.html" target="_blank">周岩母亲李聪：已收到陶家180万赔偿款</a></h3></li>
<li><span class="b">4</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/06/399172.html" target="_blank">女子入住酒店遭陌生男子尾随强行拖拽 警方正调查中</a></h3></li>
<li><span class="b">5</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/17/400377.html" target="_blank">四川师大杀人案嫌犯母亲：儿子有精神疾病 公安已申请精神鉴定</a></h3></li>
<li><span class="b">6</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/15/400277.html" target="_blank">温州一男子朋友圈直播杀女友 已被警方控制</a></h3></li>
<li><span class="b">7</span><h3><a href="http://www.bjnews.com.cn/feature/2016/04/03/399023.html" target="_blank">16省份已公布高考改革方案</a></h3></li>
<li><span class="b">8</span><h3><a href="http://www.bjnews.com.cn/news/2016/03/31/398790.html" target="_blank">陈光标视频回应“失联传闻”：自己无恙</a></h3></li>
<li><span class="b">9</span><h3><a href="http://www.bjnews.com.cn/news/2016/04/24/401148.html" target="_blank">江苏邳州一男子捅杀6名小孩 致2死4伤</a></h3></li>
<li><span class="b">10</span><h3><a href="http://www.bjnews.com.cn/news/2016/03/31/398786.html" target="_blank">讲述：马路栏杆还在，妻子孩子没了</a></h3></li>

      </ul>
    </div>
            <!--新闻排行榜 end-->
            
            <!--推荐 start-->
            <p class="rtit tuij"></p>
<div class="tjlist" id="tjlist">
    <div class="t">
        <p class="img"><a href="http://www.bjnews.com.cn/culture/2016/04/30/401931.html" target="_blank"><img src="Picture/09e2049c540d.jpg" width="209" height="148" /></a></p>
        <p class="txt"><a href="http://www.bjnews.com.cn/culture/2016/04/30/401931.html" target="_blank">陈忠实 一部《白鹿原》几乎掏空了他</a></p>
    </div>
    <div class="t">
        <p class="img"><a href="http://www.bjnews.com.cn/news/2016/04/30/401925.html" target="_blank"><img src="Picture/09b005743661.jpg" width="209" height="148" /></a></p>
        <p class="txt"><a href="http://www.bjnews.com.cn/news/2016/04/30/401925.html" target="_blank">农用车侧翻 所载石块压死13人</a></p>
    </div>
    <div class="t">
        <p class="img"><a href="http://www.bjnews.com.cn/news/2016/04/30/401924.html" target="_blank"><img src="Picture/097506ce0149.jpg" width="209" height="148" /></a></p>
        <p class="txt"><a href="http://www.bjnews.com.cn/news/2016/04/30/401924.html" target="_blank">中国留澳女生遇害 曾遭暴力伤害</a></p>
    </div>
</div>
            <!--推荐 end-->
        </div>
    </div>
</div>

<!-- Footer Start -->
<!-- 手机版底部的搜索框 开始 -->
<form class="mob" data-input="mobile-search-input2"><input id="mobile-search-input2" type="search"></form>
<!-- 手机版底部的搜索框 结束 -->
<!-- 手机版 回到PC版 开始 -->
<div class="mob" id="changeToPcModeButton" data-icon="&#xe65f;">&nbsp;回到PC版</div>
<!-- 手机版 回到PC版 结束 -->
<div id="footer">
    <div id="dbnews">
        <div class="dbnews">经营许可证编号：京ICP证090533号&nbsp;&nbsp;
            国新办网备字[2006]7号&nbsp;&nbsp;
            广播电视节目制作经营许可证:(京)字第02592号&nbsp;&nbsp;京公网安备11010102001756号<br>
            Copy Right ©    2004-2018 www.bjnews.com.cn All Rights Reserved&nbsp;&nbsp;&nbsp;
            新京报社版权所有 未经许可不得转载 版权法律顾问律师 刘家辉 电话：62112060
            <!--<script charset="utf-8" language="javascript" src="Scripts/cnzz.js"></script>-->
            <script type="text/javascript">var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fba0e7859a57505c5640c98a3fa61b61d' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
    </div>
    <div id="mobilefooter" class="mob">
            Copy Right © 2004-2018 新京报版权所有
    </div>
</div>
<script type="text/javascript" src="Scripts/shar.js"></script> 
<script type="text/javascript" src="Scripts/n.js"></script>
<script type="text/javascript" src="Scripts/list.js"></script>
<!-- Footer End -->
</body>
</html>